node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
*.log
.claude/
public/uploads/*
!public/uploads/.gitkeep
quizzes/*
!quizzes/quiz_example_1.json
!quizzes/quiz_example_2.json
!quizzes/quiz_example_3.json
!quizzes/advanced_quiz_with_latex_images.json
!quizzes/python_programming_fundamentals.json
!quizzes/test_quiz_1749524103258.json
!quizzes/advanced_quiz_-_latex___images_demo_1751555109746.json
!quizzes/advanced_quiz_-_latex___images_demo_1751555126303.json
!quizzes/asd_1752138052480.json
!quizzes/debug-width-quiz.json
!quizzes/test_quiz_1751705363539.json
!quizzes/diagn_sitco_1_min215_1754684197392.json
!quizzes/diagn_stico_2_min215_1754684320217.json
results/