node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
*.log
.claude/
public/uploads/*
!public/uploads/.gitkeep
quizzes/*
!quizzes/quiz_example_1.json
!quizzes/quiz_example_2.json
!quizzes/quiz_example_3.json
results/